/* Reset default margin and padding for all elements */
body {
  margin: 0;
  padding: 0;
  background-color: #161719;
  padding-left: 20px;
  padding-right: 20px;
}
hr.dashed {
  border-top: 3px dashed #bbb;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #181a1b;
  color: #f7f7f7;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}
.flex-container {
  display: flex;
  
}
.flex-container > div {
  border-top: 3px dashed #bbb;
  border-bottom: 3px dashed #bbb;
  border-right: 3px dashed #bbb;
  border-left: 3px dashed #bbb;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
/* Style for the main headings */
h1, h2,h3 {
  font-weight: bold;
  
}

h4{
    color: #727272;
    padding:10px;
}
h1 {
  font-size: 80px;
  margin-top: 0;
  padding-bottom: 3px;
  text-align: center;
  color:#b39ffe;
  font: robert;
}

h2 {
  font-size: 2rem;
  color: #b9e4ff;
  text-decoration: underline;
}

/* Style for paragraphs */
p {
padding-bottom: 25px;
  font-size: 20px;
  
}

/* Add some spacing between elements */

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

.blob{
  
  filter: blur(8px);
  -webkit-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  font-size: 25px;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.typing-animation {
  text-align: center;
  font-size: 24px;
  padding-top: 25vh;
}

#text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff;
  animation: typing 2s steps(13) 1s forwards, blink-caret 0.5s step-end infinite;
}


@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 10px;
}
/* Define a class for the container of small logos */
.logo-container {
  display: flex;
  align-items: center; /* Align items vertically in the center, optional */
}

/* Define a class for small logos */
.small-logo {
  max-width: 100px; /* Adjust the maximum width as needed */
  height: auto;
  margin-right: 10px; /* Optional: Add spacing between logos */
}
