body{
    background-color: #121b23;
    padding-left:15%;
    padding-right: 15%;

}

main{
    background-color: #ffffff;
}
h2{
    font: sans-serif;
}
p{
    font: sans-serif;
}
h2{
font: sans-serif;
}
